.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header and Footer (fixed heights) */
app-header {
  height: 40px;
  flex-shrink: 0;
}

app-footer {
  height: 28px;
  flex-shrink: 0;
}

/* Content expands to fill space between header and footer */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* Left and Right Panels */
.left-container,
.right-container {
  height: 97%;
  overflow-y: hidden;
}

.left-container {
  width: 25%;
  padding: 1rem;
  padding-right: 0.5rem;
}

.right-container {
  width: 75%;
  padding: 1rem;
  padding-left: 0.5rem;
  
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .left-container {
    width: 92%;
   
  }

  .right-container {
    display: none;
  }
}