.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

app-header{
  position: sticky;
  top: 0;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Schoolbell', system-ui;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 86vh;
  width: 100%;
}

app-footer{
  position: sticky;
  bottom: 0px;
}