<div class="main-container">
    <app-header></app-header>
    <div class="content">
      <div class="left-container">
        <app-editor
        [weekData]="weekData"
        (deleteTodo)="deleteTodo($event)"
        (saveTodo)="saveTodo($event)"
        (updateTodo)="updateTodo($event)"
        ></app-editor>
    </div>
    <div class="right-container">
      <app-displayer 
      [latestWeek]="latestWeek"
      [weekData]="weekData"
      (reloadWeekList)="loadWeekList()"
      (refreshWeekflag)="refreshWeek()"
      
      ></app-displayer>
    </div>
    </div>
    <app-footer></app-footer>
  </div>
  