/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:
    linear-gradient(to right, rgba(0,0,0,0.02) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 8px 8px;
  
}
